{% extends "mystoree/base.html" %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <h1>Are yor sure you want delete this customer</h1>
    <div class="row">
        <div class="col-md-4"><img src="{{cus.cphoto}}" height="200px"></div>
        <div class="col-md-2" style="margin-top: 60px; font-family: cursive; font-size: 20px;">{{cus.cname}}</div>
        <div class="col-md-2" style="margin-top: 60px; font-family: cursive; font-size: 20px;">{{cus.cphone}}</div>
        <div class="col-md-4" style="margin-top: 60px; font-family: cursive; font-size: 20px;">{{cus.caddress}}</div>

    </div>
    <br/>

<button style="background-color: gray; padding: 10px; color: black; border: 2px solid black;
margin-left:200px ;">CONFORM</button>

</form>

{% endblock %}